// SPDX-License-Identifier: MIT
pragma solidity ^0.8.0;

import "forge-std/Test.sol";
import "../src/{{ contract_name }}.sol";

contract PoCAccessControl is Test {
    function setUp() public {
        // Setup
    }

    function test_access_control_attack() public {
        // Exploit steps for access control weaknesses. LLN to fill details.
    }
}
